rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Picha za bidhaa — mmiliki wa duka peke yake anaweza kupakia
    match /bidhaa_picha/{uid}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == uid;
    }

    // Picha za profaili
    match /profaili_picha/{uid}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == uid;
    }

    // Picha za duka
    match /duka_picha/{uid}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == uid;
    }
  }
}
